<!doctype html>
<html lang="en"> 
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">
  </head>
  <body> 
    <header>
      <div class="menu logo-nav">
        <a href="/" class="logo">EduTech Learning</a>
        <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
        <nav class="navigation">
          <ul>
            <li><a href="/mision">Mision</a></li>
            <li><a href="/vision">Vision</a></li>
            <li>Conéctate con el conocimiento </li>
          </ul>
        </nav>
      </div>
    </header>
<main>
  <div class="contenedor">
    <h2>Comentarios</h2>
    

    
      <table class="content-table">
          <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Comentario</th>
      
        </tr>
      </thead> 
      <tbody>
        <tr>
          <% comentario.forEach(comentario => { %>
            <tr>
              
              <td><%= comentario.nombre %></td> 
              <td><%= comentario.email %></td> 
              <td><%= comentario.comment %></td> 
              
              

            
            <% }); %></td>
        </tr>
      </tbody>
    
      </table>
   
       
</main>
  

<footer class="footer-section1">
  <div class="copyright-area">
      <div class="container-footer">
          <div class="row-footer">
              <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                  <div class="copyright-text">
                    <p>Copyright &copy; 2024, todos los derechos reservados <a href="/view">EduTech Learning</a></p>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                  <div class="footer-menu">
                      <ul>
                        <li><a href="/mision">Mision</a></li>
                          
                        <li><a href="/vision">Vision</a></li>
                        <li><a href="/contacto">Comentar</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer> 
</body>
</html> 